
* {
    -fx-text-fill: #ffffff;
}

.root {
    -fx-focus-color: transparent;
}

.container {
    -fx-font-family: Monaco, sans-serif;
    -fx-background-color: #f05b56;
}

.button {
    -fx-cursor: hand;
    -fx-background-insets: 0;
}

.mode-btn {
    -fx-background-color: none;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}

.highlight-btn {
    -fx-border-width: 1px;
    -fx-border-color: #ffffff;
    -fx-border-style: dashed;
    -fx-border-radius: 2px;
}

.toggle-btn,
.save-btn {
    -fx-font-size: 18px;
    -fx-background-color: #ffffff;
    -fx-text-fill: #f05b56;
    -fx-border-radius: 2px;
}

.toggle-btn:hover,
.save-btn:hover {
    -fx-opacity: 0.8;
}

.clock-progress-bar .track {
    -fx-background-color: transparent;
}

.clock-progress-bar .bar {
    -fx-background-color: #ffffff;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-padding: 0;
}

.time-is-up-background {
    -fx-background-color: #0fa4a9;
}

.time-is-up-color {
    -fx-text-fill: #0fa4a9;
}

.settings-icon:hover {
    -fx-cursor: hand;
}

.spinner .text-field {
    -fx-text-fill: #000000;
    -fx-alignment: center;
}