
* {
    -fx-text-fill: #ffffff;
}

#container {
    -fx-font-family: Monaco, sans-serif;
    -fx-background-color: #f05b56;
}

Button {
    -fx-cursor: hand;
    -fx-background-insets: 0;
}

.modeBtn {
    -fx-background-color: none;
}

.highlightBtn {
    -fx-border-width: 1px;
    -fx-border-color: #ffffff;
    -fx-border-style: dashed;
    -fx-border-radius: 2px;
}

#startBtn,
#stopBtn {
    -fx-background-color: #ffffff;
    -fx-border-radius: 0px;
    -fx-border-width: 1px;
    -fx-border-color: #454545;
}

#startBtn {
    -fx-background-color: #28a745;
    -fx-text-fill: #ffffff;
    -fx-border-color: #28a745;
}

#startBtn:hover {
    -fx-background-color: #1d7831;
    -fx-border-color: #1d7831;
}

#stopBtn {
    -fx-background-color: #dc3545;
    -fx-text-fill: #ffffff;
    -fx-border-color: #dc3545;
}

#stopBtn:hover {
    -fx-background-color: #b7202e;
    -fx-border-color: #b7202e;
}